{% extends "index_base.html" %}
{% block title %} || Productos{% endblock %}
{% block main %}
<section style="padding-top: 7rem;">
	<div class="bg-holder" style="background-image:url(static/assets/img/hero/hero-bg.svg);">
	</div>
	<!--/.bg-holder-->

	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-5 col-lg-6 order-0 order-md-1 text-end"><img class="pt-7 pt-md-0 hero-img"
					src="/static/img/2.png" alt="hero-header" /></div>
			<div class="col-md-7 col-lg-6 text-md-start text-center py-6">
				<h1 class="hero-title">Plasma tu idea</h1>

				<p class="mb-4 fw-medium">Con nosotros</p>
				<div class="text-center text-md-start">
					{% if 'cliente_foto' in session %}
					<a class="btn btn-primary btn-lg me-md-4 mb-3 mb-md-0 border-0 primary-btn-shadow"
						id="openDialogButton">Pedido Personalizado</a>
					{% else %}
					<a class="btn btn-primary btn-lg me-md-4 mb-3 mb-md-0 border-0 primary-btn-shadow"
						href="/login">Login</a>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
</section>
<section id="testimonial">

	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="mb-8 text-start">
					<h5 class="text-secondary">Testimonios</h5>
					<h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">¿Qué dice la gente de
						nosotros?</h3>
				</div>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-6">
				<div class="pe-7 ps-5 ps-lg-0">
					<div class="carousel slide carousel-fade position-static" id="testimonialIndicator"
						data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button class="active" type="button" data-bs-target="#testimonialIndicator"
								data-bs-slide-to="0" aria-current="true" aria-label="Testimonial 0"></button>
							<button class="false" type="button" data-bs-target="#testimonialIndicator"
								data-bs-slide-to="1" aria-current="true" aria-label="Testimonial 1"></button>
							<button class="false" type="button" data-bs-target="#testimonialIndicator"
								data-bs-slide-to="2" aria-current="true" aria-label="Testimonial 2"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item position-relative active">
								<div class="card shadow" style="border-radius:10px;">
									<div class="position-absolute start-0 top-0 translate-middle"> <img
											class="rounded-circle fit-cover"
											src="static/assets/img/testimonial/author.png" height="65" width="65"
											alt="" /></div>
									<div class="card-body p-4">
										<p class="fw-medium mb-4">&quot;On the Windows talking painted pasture
											yet its express parties use. Sure last upon he same as knew next. Of
											believed or diverted no.&quot;</p>
										<h5 class="text-secondary">Mike taylor</h5>
										<p class="fw-medium fs--1 mb-0">Lahore, Pakistan</p>
									</div>
								</div>
								<div class="card shadow-sm position-absolute top-0 z-index--1 mb-3 w-100 h-100"
									style="border-radius:10px;transform:translate(25px, 25px)"> </div>
							</div>
							<div class="carousel-item position-relative ">
								<div class="card shadow" style="border-radius:10px;">
									<div class="position-absolute start-0 top-0 translate-middle"> <img
											class="rounded-circle fit-cover"
											src="static/assets/img/testimonial/author2.png" height="65" width="65"
											alt="" /></div>
									<div class="card-body p-4">
										<p class="fw-medium mb-4">&quot;Jadoo is recognized as one of the finest
											travel agency in the world. When it came to planning a trip, I found
											them to be dependable.&quot;</p>
										<h5 class="text-secondary">Thomas Wagon</h5>
										<p class="fw-medium fs--1 mb-0">CEO of Red Button</p>
									</div>
								</div>
								<div class="card shadow-sm position-absolute top-0 z-index--1 mb-3 w-100 h-100"
									style="border-radius:10px;transform:translate(25px, 25px)"> </div>
							</div>
							<div class="carousel-item position-relative ">
								<div class="card shadow" style="border-radius:10px;">
									<div class="position-absolute start-0 top-0 translate-middle"> <img
											class="rounded-circle fit-cover"
											src="static/assets/img/testimonial/author3.png" height="65" width="65"
											alt="" /></div>
									<div class="card-body p-4">
										<p class="fw-medium mb-4">&quot;On the Windows talking painted pasture
											yet its express parties use. Sure last upon he same as knew next. Of
											believed or diverted no.&quot;</p>
										<h5 class="text-secondary">Kelly Willium</h5>
										<p class="fw-medium fs--1 mb-0">Khulna, Bangladesh</p>
									</div>
								</div>
								<div class="card shadow-sm position-absolute top-0 z-index--1 mb-3 w-100 h-100"
									style="border-radius:10px;transform:translate(25px, 25px)"> </div>
							</div>
						</div>
						<div class="carousel-navigation d-flex flex-column flex-between-center position-absolute end-0 top-lg-50 bottom-0 translate-middle-y z-index-1 me-3 me-lg-0"
							style="height:60px;width:20px;">
							<button class="carousel-control-prev position-static" type="button"
								data-bs-target="#testimonialIndicator" data-bs-slide="prev"><img
									src="static/assets/img/icons/up.svg" width="16" alt="icon" /></button>
							<button class="carousel-control-next position-static" type="button"
								data-bs-target="#testimonialIndicator" data-bs-slide="next"><img
									src="static/assets/img/icons/down.svg" width="16" alt="icon" /></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end of .container-->

</section>
{% if cantidad > 0 %}
<section class="product">
	<div class="middle-text">
		<h2>Confirma tu pedidos.</h2>
		{% for detalle in confirmar%}
		<a href="/confirmar/{{detalle.id_personalizacion}}" class="btn">Respuesta</a>

		{%endfor%}
	</div>
</section>
{% endif %}
<section class="pt-5" id="destination">
	<div class="container">
		<div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img
				src="static/assets/img/dest/shape.svg" alt="destination" /></div>
		<div class="mb-7 text-center">
			<h5 class="text-secondary">Descrubre</h5>
			<h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Nuestro productos</h3>
		</div>
		<div class="row">
			{% for producto in Precios %}



			<article class="col-md-4 mb-4">

				<form action="/agregar" method="post" class="card overflow-hidden shadow">
					<img class="card-img-top" src="{{producto.producto.logo}}" alt="{{producto.producto.nombre}}"
						class="img-fluid" />
					<div class="card-body py-4 px-3">
						<div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
							<h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link"
									href="#!">{{producto.producto.nombre}}</a></h4><span
								class="fs-1 fw-medium">Explorar</span>
						</div>
						<div class="d-flex align-items-center">
							<img src="static/assets/img/dest/navigation.svg" style="margin-right: 14px" width="20"
								alt="navigation" />

						</div>
					</div>

					<!-- Botón y campos ocultos aquí -->
					<input type="text" value="{{ producto.producto.id }}" name="producto_id_{{ producto.producto.id }}"
						hidden>
					<input type="text" name="cantidad_{{ producto.producto.id }}" value="1" hidden>
					<button class="btn btn-success" type="submit" data-id="{{ producto.producto.id }}">Agregar al
						carrito</button>




				</form>
			</article>





			{% endfor %}
		</div>

	</div>
</section>
{% for producto in Precios %}
<div id="modal-default{{producto.producto.id}}" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Descripcion de {{producto.producto.nombre}}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				{{producto.producto.descripcion}}
			</div>
			<div class="modal-footer">
				<input type="button" class="btn
									btn-default" data-dismiss="modal" value="Cancel">
				<input type="submit" class="btn
									btn-success" value="Add">
			</div>

		</div>
	</div>
</div>
{% endfor %}
<script>

	document.getElementById('openDialogButton').addEventListener('click', async function () {
		const steps = ['1', '2', '3'];
		const swalQueueStep = Swal.mixin({
			confirmButtonText: 'Continuar',
			cancelButtonText: 'Atras',
			progressSteps: steps,
			input: 'text',
			inputAttributes: {
				required: true
			},
			reverseButtons: true,
			validationMessage: 'Este campo son requeridos'
		});

		const values = [];
		let currentStep;

		for (currentStep = 0; currentStep < steps.length;) {
			let inputType = 'text';
			let inputText = '';

			if (currentStep === 0) {
				inputType = 'textarea';
				inputText = 'Describe tu pedido';
			} else if (currentStep === 1) {
				inputType = 'number';
				inputText = 'Ingresa tu presupuesto';
			} else if (currentStep === 2) {
				inputType = 'file';
				inputText = 'Sube tus fotos de inspiración(* Obligatorio *)';
			}

			const result = await swalQueueStep.fire({
				title: `Pregunta ${steps[currentStep]}`,
				text: inputText,
				input: inputType,
				inputValue: values[currentStep],
				showCancelButton: currentStep > 0,
				currentProgressStep: currentStep
			});

			if (result.value) {
				values[currentStep] = result.value;
				currentStep++;
			} else if (result.dismiss === Swal.DismissReason.cancel) {
				currentStep--;
			} else {
				break;
			}
		}

		if (currentStep === steps.length) {
			const formData = new FormData();
			formData.append('cliente_id', '{{ session["cliente_id"] }}');
			formData.append('descripcion', values[0]);
			formData.append('presupuesto', values[1]);
			formData.append('foto', values[2]);

			fetch('/personalizacion', {
				method: 'POST',
				body: formData
			})
				.then(response => response.json())
				.then(data => {
					console.log(data);
					Swal.fire('Success', 'Los datos han sido enviados correctamente', 'success');
				})
				.catch(error => {
					console.error('Error:', error);
					Swal.fire('Error', 'Ocurrió un error al enviar los datos', 'error');
				});
		}
	});
</script>

{% endblock %}